* {
  padding: 0;
  margin: 0;
  
}

body {
  text-align: center;
}

button {
  margin: 1rem;
  color: #fff;
  background-color: limegreen;
  padding: 13px;
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(129, 223, 129);
  cursor: pointer;
}

#container {
  border: 0.5rem outset pink;
  margin: auto;
  margin-bottom: 1rem;
  width: 960px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.grid-row {
  display: flex;
  justify-content: center;
  gap: 2px
}
.grid-box {
  background-color: greenyellow;
  opacity: 0;
}
